.background{
    background: linear-gradient(200deg,  #323886, #142456 );
  }
.border{
    border-radius: .2em;
  }

.card{
    box-sizing: border-box;
    height: 100%;
    padding: .5em;
    width: 23%;
}
.cardConditions{
    color: #4D5182;
}
.cardInner{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.cardText{
    color:#fff;
    font-size: 13px;
}
.pdRt{
    padding-right: .5em;
}
.noOp{
    opacity: 1;
}

@media screen and (max-width: 900px){
    .card{
        width: 100%;
        margin-bottom: 1em;
    }
}